.tech {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.loading {
    width: 276px;
    display: flex;
    justify-content: flex-end;
    color: red;
}